
/* ------------REGISTER ---------------------- */

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }
  
  .login__container .login__form__container {
    padding: 20px;
    width: 40%;
    /* min-height: 80%; */
    margin: auto;
    background-color: rgba(194, 177, 177, 0.28);
  }
  .login__form__container form {
    margin-top: 50px;
  }
  
  .login__form__container .login__with__google {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .login__form__container .login__with__google img {
    max-width: 200px;
  }
  
  .login__form__container .form__row,
  .login__form__container .send {
    max-width: 350px;
    margin: auto;
  }
  .login__form__container form input {
    border: 0.01em solid rgba(167, 167, 167, 0.51);
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    color: var(--white);
    outline: none;
  }
  
  .login__form__container form label {
    color: var(--white);
    opacity: 0.7;
  }
  
  .login__form__container button {
    background: linear-gradient(
      105.75deg,
      rgba(192, 112, 112, 1),
      rgba(43, 250, 25, 0.7) 145.32%
    );
  
    padding: 6px 25px;
    border-radius: 20px;
    font-size: 14px;
    font-style: normal;
    color: var(--white);
    border: none;
    cursor: pointer;
  }
  
  .login__form__container .new__register {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    color: var(--white);
  }
  
  .login__form__container .new__register .toogle__auth_option {
    color: var(--green);
    opacity: 0.85;
    margin: 0px 3px;
  }

//   Responsiveness

